In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:

head= np.array(["inc","raan","TA","Altitude","Days"])
df= pd.read_csv("inc_raan_24Jul_all.csv", header= None)

df.columns= head

In [24]:
df.head()

       inc  raan          TA    Altitude      Days
0  0.00001     0  180.000000  145.266416  0.040916
1  0.00001     0    0.000000   50.318612  0.081864
2  0.00001     0  180.000000  145.216408  0.122780
3  0.00001     0    0.000000   50.370364  0.163729
4  0.00001     0  179.999999  145.164212  0.204644

In [6]:
inc_vals= df.inc.unique()
raan_vals= df.raan.unique()

df_new= pd.DataFrame(columns= head) #new dataframe containing last data for last (inc, raan) combination

for inc in inc_vals:
    for raan in raan_vals:
        
        df_new= df_new.append(df[(df["inc"]== inc) & (df["raan"]== raan)].tail(1), ignore_index=True)
        # storing entry for a certain (inc, raan) combination in a dataframe

In [8]:
%matplotlib qt

In [45]:
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D


fig = plt.figure(1)
ax = fig.add_subplot(111, projection='3d')

x_vals= df_new["inc"]
y_vals= df_new["raan"]
z_vals= df_new["Days"]

trisurf =ax.plot_trisurf(x_vals, y_vals, z_vals , cmap= "RdBu", linewidth=0)
fig.colorbar(trisurf, ax = ax, shrink = 0.5, aspect = 10)

ax.set_xlabel('\n INC'  ,fontsize= 15) 
ax.set_ylabel('\n RAAN' ,fontsize= 15) 
ax.set_zlabel('\n DAYS' ,fontsize= 15)

plt.show()

In [40]:
x2= np.array(x_vals)
y2= np.array(y_vals)
z2= np.array(z_vals)

x2=x2.reshape((11,36))
y2=y2.reshape((11,36))
z2=z2.reshape((11,36))

fig = plt.figure(2)
ax = fig.add_subplot(111, projection='3d')


trisurf =ax.plot_trisurf(x_vals, y_vals, z_vals , cmap= "RdBu", linewidth=0)
fig.colorbar(trisurf, ax = ax, shrink = 0.5, aspect = 10)
surf=ax.plot_wireframe(x2, y2, z2 ,  cmap= "RdBu")

ax.set_xlabel('\n INC'  ,fontsize= 15) 
ax.set_ylabel('\n RAAN' ,fontsize= 15) 
ax.set_zlabel('\n DAYS' ,fontsize= 15)

Text(0.5, 0, '\n DAYS')