In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style

import ipywidgets as wids
from ipywidgets import interact

In [12]:
df=pd.read_csv("inc2.csv", header= 0)


df.columns

Index(['inc', 'lunar_probe.Luna.Altitude', 'lunar_probe.ElapsedDays'], dtype='object')

In [13]:
df.iloc[:,0].unique()

array([ 0. ,  2.5,  5. ,  7.5, 10. , 12.5, 15. , 17.5, 20. , 22.5, 25. ,
       27.5, 30. , 32.5, 35. , 37.5, 40. , 42.5, 45. , 47.5, 50. , 52.5,
       55. , 57.5, 60. , 62.5, 65. , 67.5, 70. , 72.5, 75. , 77.5, 80. ,
       82.5, 85. , 87.5, 90. ])

In [14]:
# inc= df.iloc[:,0].unique()
inc= np.zeros(0)
inc_val=0
max_day= np.zeros(0)
max_val=0



for index,row in df.iterrows():
    
    if index== len(df)-1:
        max_val= row["lunar_probe.ElapsedDays"]
        max_day= np.append(max_day, max_val)
        inc_val= np.round(row["inc"],2)
        inc= np.append(inc, inc_val)
        print(inc_val, " ", max_val)



    elif row["lunar_probe.ElapsedDays"] > df.iloc[index+1]["lunar_probe.ElapsedDays"]:
        
        max_val= row["lunar_probe.ElapsedDays"]
        max_day= np.append(max_day, max_val)
        inc_val= np.round(row["inc"],1)
        inc= np.append(inc, inc_val)
        print(inc_val, " ", max_val)

0.0   60.0065951478573
2.5   60.0051161376723
5.0   36.45476624823641
7.5   33.45536652295777
10.0   33.20574989636225
12.5   32.45705848829675
15.0   33.62240742457652
17.5   60.08138997909919
20.0   60.06379444079357
22.5   60.0508060542561
25.0   60.04928391335125
27.5   44.3908306867379
30.0   39.39816384488222
32.5   40.23031170799732
35.0   40.89644467183825
37.5   41.81234914032757
40.0   45.05908340772658
42.5   60.04329547028465
45.0   60.04304939213762
47.5   60.04257524053173
50.0   60.02597061907363
52.5   60.01044293695304
55.0   43.69694680539396
57.5   41.61695963861348
60.0   42.44899398389316
62.5   44.44631467592262
65.0   60.01298187825159
67.5   60.01498464293036
70.0   60.02164129334415
72.5   60.04964838427986
75.0   60.0549005849316
77.5   60.05706502593603
80.0   60.05897801406536
82.5   60.06066541210748
85.0   60.06207700999221
87.5   60.06334982537373
90.0   60.06442044525465

making a dataframe where first column is value of initial incliantion used in simualtion and other column is the number of days the spacecraft orbitted before falling below 20km. The maximum no. of days is 60 due to the nature of simulation

In [15]:
df1= pd.DataFrame({"inc": inc, "days":max_day})
df1

     inc       days
0    0.0  60.006595
1    2.5  60.005116
2    5.0  36.454766
3    7.5  33.455367
4   10.0  33.205750
5   12.5  32.457058
6   15.0  33.622407
7   17.5  60.081390
8   20.0  60.063794
9   22.5  60.050806
10  25.0  60.049284
11  27.5  44.390831
12  30.0  39.398164
13  32.5  40.230312
14  35.0  40.896445
15  37.5  41.812349
16  40.0  45.059083
17  42.5  60.043295
18  45.0  60.043049
19  47.5  60.042575
20  50.0  60.025971
21  52.5  60.010443
22  55.0  43.696947
23  57.5  41.616960
24  60.0  42.448994
25  62.5  44.446315
26  65.0  60.012982
27  67.5  60.014985
28  70.0  60.021641
29  72.5  60.049648
30  75.0  60.054901
31  77.5  60.057065
32  80.0  60.058978
33  82.5  60.060665
34  85.0  60.062077
35  87.5  60.063350
36  90.0  60.064420

In [16]:
%matplotlib qt

fig= plt.figure(figsize= (12,10))


plt.style.use('ggplot')

plt.scatter( df1["inc"], df1["days"], s=90, color= "red")
plt.grid(True, color="black")
plt.xlabel("Inclination value", fontsize=25)
plt.ylabel("Number of days ", fontsize=25)

plt.xlim(-5,95)
plt.xticks(np.arange(0,95,5), fontsize= 15)
plt.yticks(fontsize= 15)

plt.show()